@charset "UTF-8";
/*!
  Fidemicons, v0.1.7
  Created by Sebastien Guimont, for Fidem 360 Inc.
*/
@font-face { font-family: "Fidemicons"; src: url("../fonts/fidemicons.eot?v=0.1.7"); src: url("../fonts/fidemicons.eot?v=0.1.7#iefix") format("embedded-opentype"), url("../fonts/fidemicons.ttf?v=0.1.7") format("truetype"), url("../fonts/fidemicons.woff?v=0.1.7") format("woff"), url("../fonts/fidemicons.svg?v=0.1.7#Fidemicons") format("svg"); font-weight: normal; font-style: normal; }
.ion, .fidemicons, .fidemicons-arrow-01:before, .fidemicons-arrow-02:before, .fidemicons-arrow-03:before, .fidemicons-arrow-back:before, .fidemicons-attractions:before, .fidemicons-badge:before, .fidemicons-badge-01:before, .fidemicons-badge-02:before, .fidemicons-bed:before, .fidemicons-calendar:before, .fidemicons-card:before, .fidemicons-challenges:before, .fidemicons-check:before, .fidemicons-codebar:before, .fidemicons-family:before, .fidemicons-fb-01:before, .fidemicons-fb-02:before, .fidemicons-fb-03:before, .fidemicons-fb-04:before, .fidemicons-fb-05:before, .fidemicons-fb-06:before, .fidemicons-festival:before, .fidemicons-fleuryoga:before, .fidemicons-gift:before, .fidemicons-lgbt:before, .fidemicons-like:before, .fidemicons-localiser:before, .fidemicons-locked:before, .fidemicons-megaphone:before, .fidemicons-menu:before, .fidemicons-menu2:before, .fidemicons-menu3:before, .fidemicons-message:before, .fidemicons-mode:before, .fidemicons-more:before, .fidemicons-mtl_acces_card:before, .fidemicons-museum:before, .fidemicons-news:before, .fidemicons-news-02:before, .fidemicons-nightlife:before, .fidemicons-nuage:before, .fidemicons-outside:before, .fidemicons-profil:before, .fidemicons-profile:before, .fidemicons-promotions:before, .fidemicons-restaurant:before, .fidemicons-search:before, .fidemicons-settings:before, .fidemicons-share:before, .fidemicons-share2:before, .fidemicons-shop:before, .fidemicons-star:before, .fidemicons-taxi:before, .fidemicons-transport:before, .fidemicons-twitter-01:before, .fidemicons-vente:before, .fidemicons-visit:before { display: inline-block; font-family: "Fidemicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.fidemicons-arrow-01:before { content: ""; }

.fidemicons-arrow-02:before { content: ""; }

.fidemicons-arrow-03:before { content: ""; }

.fidemicons-arrow-back:before { content: ""; }

.fidemicons-attractions:before { content: ""; }

.fidemicons-badge:before { content: ""; }

.fidemicons-badge-01:before { content: ""; }

.fidemicons-badge-02:before { content: ""; }

.fidemicons-bed:before { content: ""; }

.fidemicons-calendar:before { content: ""; }

.fidemicons-card:before { content: ""; }

.fidemicons-challenges:before { content: ""; }

.fidemicons-check:before { content: ""; }

.fidemicons-codebar:before { content: ""; }

.fidemicons-family:before { content: ""; }

.fidemicons-fb-01:before { content: ""; }

.fidemicons-fb-02:before { content: ""; }

.fidemicons-fb-03:before { content: ""; }

.fidemicons-fb-04:before { content: ""; }

.fidemicons-fb-05:before { content: ""; }

.fidemicons-fb-06:before { content: ""; }

.fidemicons-festival:before { content: ""; }

.fidemicons-fleuryoga:before { content: ""; }

.fidemicons-gift:before { content: ""; }

.fidemicons-lgbt:before { content: ""; }

.fidemicons-like:before { content: ""; }

.fidemicons-localiser:before { content: ""; }

.fidemicons-locked:before { content: ""; }

.fidemicons-megaphone:before { content: ""; }

.fidemicons-menu:before { content: ""; }

.fidemicons-menu2:before { content: ""; }

.fidemicons-menu3:before { content: ""; }

.fidemicons-message:before { content: ""; }

.fidemicons-mode:before { content: ""; }

.fidemicons-more:before { content: ""; }

.fidemicons-mtl_acces_card:before { content: ""; }

.fidemicons-museum:before { content: ""; }

.fidemicons-news:before { content: ""; }

.fidemicons-news-02:before { content: ""; }

.fidemicons-nightlife:before { content: ""; }

.fidemicons-nuage:before { content: ""; }

.fidemicons-outside:before { content: ""; }

.fidemicons-profil:before { content: ""; }

.fidemicons-profile:before { content: ""; }

.fidemicons-promotions:before { content: ""; }

.fidemicons-restaurant:before { content: ""; }

.fidemicons-search:before { content: ""; }

.fidemicons-settings:before { content: ""; }

.fidemicons-share:before { content: ""; }

.fidemicons-share2:before { content: ""; }

.fidemicons-shop:before { content: ""; }

.fidemicons-star:before { content: ""; }

.fidemicons-taxi:before { content: ""; }

.fidemicons-transport:before { content: ""; }

.fidemicons-twitter-01:before { content: ""; }

.fidemicons-vente:before { content: ""; }

.fidemicons-visit:before { content: ""; }

/*# sourceMappingURL=fidemicons.css.map */
